<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dispensePrintFile" value="Dina5 MD Fusion_UX.pdf" />
		<!--<add key="APIURL" value="https://localhost:7216/api/" />
		<add key="HubURL" value="https://localhost:7216/ConnectionHub" />-->
		<add key="APIURL" value="http://api.hautecustombeauty.com/api/" />
		<add key="HubURL" value="http://api.hautecustombeauty.com/ConnectionHub" />
		<add key="JWTSecretKey" value="6wSAGBSZh0zv4sZI63qD7KijhD4d4yLh8L4wd7maG2Yq6Coa6iq3R8Pump76j6Tm29le323Sk5j3ZTMbqe3bYu3db2X48mDbsxup8RiD9Ws6nsZMtJIxBIvvvEK59qHA" />
		<!--<add key="JWTValidIssuer" value="https://localhost:7216/" />
		<add key="JWTValidAudience" value="https://localhost:7216/" />-->
		<add key="JWTValidIssuer" value="http://createyourformula.hautecustombeauty.com" />
		<add key="JWTValidAudience" value="http://createyourformula.hautecustombeauty.com" />
	</appSettings>
</configuration>